{% extends "./base.njk" %}

{% block content %}
    <section class="info">
        {{ content | safe }}
    </section>

    <div class="info-contact">
        <p>Consulte-nos!<p>
        <p>Tel: 2294-4601</p>
        <p>Email: buffet@nalagoa.com.br</p>
    </div>
{% endblock %}