{% extends "./base.njk" %}

{% block content %}
    {% if collections.boxes !== undefined %}
    {% for box in collections.boxes %}
    <section class="box">
        <h2 class="title">{{ box.data.title | safe }}</h2>
        {{ box.data.content | safe }}
    </section>
    {% endfor %}
    {% endif %}

    <section class="info">
        <h2 class="title">{{ title | safe }}</h2>

        {{ content | safe }}
    </section>

    <div class="info-contact">
        <p>Consulte-nos!<p>
        <p>Tel: 2294-4601</p>
        <p>Email: buffet@nalagoa.com.br</p>
    </div>
{% endblock %}